---
import "../styles/global.css";
import '../styles/bootstrap.css';
---

<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro + Bootstrap</title>
    <meta name="generator" content={Astro.generator} />
    {Astro.head}
</head>
<body>
<header class="bg-dark p-4 text-white">
    <h1 class="text-center">Astro + Bootstrap</h1>
</header>

<main class="container">
    <slot />
</main>

<footer class="bg-dark p-4 text-center text-white">
    <p>© 2024 Astro Project</p>
</footer>


</body>
</html>

<style lang="scss">

</style>


<script>
    import 'bootstrap/js/dist/alert';
    import 'bootstrap/js/dist/button';
    // import 'bootstrap/js/dist/carousel';
    // import 'bootstrap/js/dist/collapse';
    // import 'bootstrap/js/dist/dropdown';
    // import 'bootstrap/js/dist/modal';
    // import 'bootstrap/js/dist/offcanvas';
    // import 'bootstrap/js/dist/popover';
    // import 'bootstrap/js/dist/scrollspy';
    // import 'bootstrap/js/dist/tab';
    // import 'bootstrap/js/dist/toast';
    // import 'bootstrap/js/dist/tooltip';
</script>
